body {
    font-family: Arial, sans-serif;
    background: url('ima.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

.faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: paleturquoise;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    width: 100%;
    text-align: left;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 16px;
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
}

.faq-question.active + .faq-answer {
    display: block;
}
